$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap/scss/_mixins.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_grid.scss';
@import '~bootstrap/scss/_tables.scss';
@import '~bootstrap/scss/_normalize.scss';
@import '~bootstrap/scss/bootstrap.scss';

@import './shared/fonts.scss';
@import './shared/colors.scss';
@import './shared/sizes.scss';

@import './modules/utils.scss';

@import './partials/deployments';
@import './partials/login';
@import './partials/navigation';
@import './partials/quickjump';
@import './partials/spinner';



body {
    font-family: $base_font_family;
    text-rendering: geometricPrecision;
    @media screen and (max-width: $break-large) {
        font-size: $mobile_base_font_size;
    }
    @media screen and (min-width: $break-large) {
        font-size: $base_font_size;
    }
    font-weight: 100;
    background-color: $background_color;
    color: $primary_color;
}

ul {
    list-style: none;
    padding-left: 0;
}

th {
    font-weight: normal;
}

button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    color: $primary_color;
    outline: none;
    text-rendering: geometricPrecision;
    font-family: $base_font_family;
}

button:focus {
  outline-color: transparent;
  outline-style: none;
}

button:hover {
    text-decoration: none;
    border-style: solid;
    border: 0px;
    border-bottom: 1px solid $contrast_color;        
    cursor: pointer;
}

td {
    word-wrap: break-word
}

.content-container {
    margin-top:10px;
}