// ## fonts


// base
$base_font_family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
$base_font_size: 12px;
$base_font_size_title: 17px;
$base_font_size_small: 11px;
$base_font_size_small_secondary: 10px;

$mobile_base_font_size: 11px;

// navigation
$navigation_font_family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$navigation_font_size: 20px;
$navigation_font_size_responsive: 12px;