@import './shared/fonts.scss';
@import './shared/colors.scss';
@import './shared/sizes.scss';

#quickjump {
    padding-left: 40px;
    margin-top: 45px;
    @media (min-width: 992px) {
        position: fixed;
    }

    li {
        text-decoration: none;
        cursor: pointer;
    }

    li.selected-item {
        border-style: solid;
        border: 0px;
        border-bottom: 1px solid $contrast_color;
        color: $primary_color;        
    }

    li:hover {
        span {
            text-decoration: none;
            border-style: solid;
            border: 0px;
            border-bottom: 1px solid $contrast_color;        
            cursor: pointer;
        }
    }
    font-size: $base_font_size;
    line-height: 14px;

    li {
        padding-top: 10px;
    }
}